<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.precious.androidprogrammingchallenge">
    <!-- get User permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProgrammingChallenge">
        <activity
            android:name=".ui.view.NeverEndingJokeActivity"
            android:exported="true"
            android:parentActivityName=".ui.view.HomeScreenMainActivity"/>
        <activity
            android:name=".ui.view.SearchJokeActivity"
            android:exported="true"
            android:parentActivityName=".ui.view.HomeScreenMainActivity"/>
        <activity
            android:name=".ui.view.HomeScreenMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>